@import "../../../../../../styles/colors";

.crossWorldMarkets {
	display: flex;

	& > div {
		flex: 0 1 50%;

		h2 {
			color: $green-3x;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0 0 12px 0;
		}
	}

	& > div:first-of-type {
		padding-right: 10px;
	}

	& > div:last-of-type {
		padding-left: 10px;
	}
}

.cheapestPrice {
	font-size: 28px;
	font-weight: 400;
	color: $color3;
	margin-bottom: 8px;

	.value {
		color: $highlight3x;
	}

	.info {
		opacity: 0.6;
		font-size: 16px;
		display: inline-table;
		margin-left: 20px;
	}

	i {
		vertical-align: middle;
		margin: -2px 0 0px 0;
		display: inline-block;
	}

	em {
		color: $color6;
		font-style: normal;
	}
}
