@import "../../../../styles/colors";

.searchNav {
	display: flex;
	background: linear-gradient(to bottom, #363f51 0%, #323c47 100%);
	position: relative;
	border-radius: 4px;
	box-shadow: 0 1px 3px black;
	overflow: hidden;
	margin: 0 0 0 19px;
	height: 46px;
}

.search {
	height: 46px;
	width: 400px;
	line-height: 46px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 17px;
	padding: 0 16px;
	transition: 150ms;
	outline: none;
	border-right: 1px solid black;
	box-shadow: 1px 0 #444;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}

	&:focus {
		background-color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}

	&::placeholder {
		color: $color6;
	}
}

.typing {
	background: linear-gradient(270deg, rgba(213, 184, 55, 0.15), rgba(98, 184, 246, 0.15));
	background-size: 400% 400%;
	-webkit-animation: searchAnimation 4s ease infinite;
	-moz-animation: searchAnimation 4s ease infinite;
	animation: searchAnimation 4s ease infinite;
}

@-webkit-keyframes searchAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes searchAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes searchAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.searchLoading {
	position: absolute;
	left: calc(100% - 150px);
	top: 10px;
	height: 25px;
}
