$color1: #5723a2;
$color2: #7a42c9;
$color3: #e6e6e6;
$color4: #c1c1c1;
$color5: #252830;
$color6: #717988;
$color7: #1c1c1c;
$color8: #a7caff;
$color9: #798ebb;

$modal-background-color: #282b34;
$text-color: white;
$green: #1aa571;
$green-2x: #1a8255;
$highlight: #fffca6;
$table-color: #434857;
$table-color-2x: #393e4a;
$table-color-3x: #666d81;
$table-color-4x: #232b30;
$table-color-dark: #282b34;
$search-active: #434857;
$search-complete: #666d81;
