.rarity-1 {
	color: #eee !important;
	&:hover {
		color: #d6d6d6;
	}
}
.rarity-2 {
	color: #89ffbc !important;
	&:hover {
		color: #6bd599;
	}
}
.rarity-3 {
	color: #3dafff !important;
	&:hover {
		color: #3389cb;
	}
}
.rarity-4 {
	color: #f44bff !important;
	&:hover {
		color: #c53fce;
	}
}
.rarity-7 {
	color: #ff7e85 !important;
	&:hover {
		color: #c46262;
	}
}
