.updatesBox {
	background-color: #222;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 1px 3px black;

	margin-bottom: 20px;

	& > div {
		flex: 0 1 auto;
		flex-grow: 1;
		padding: 10px;
		text-align: center;
		font-size: 14px;
	}

	h5 {
		font-size: 14px !important;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 3px 0;
		color: #555;
	}
}

.mogHonorable {
	opacity: 0.5;
	color: #ccc;
	font-size: 15px;
	line-height: 22px;

	text-align: center;
	margin-top: 5px;
}

.flex {
	display: flex;
	position: relative;
}

.flex50 {
	flex: 0 1 50%;
}
