.header {
	width: 100%;
	display: flex;
}

.header > div {
	padding: 20px;
}

.header > div:first-of-type {
	flex: 0 1 calc(100% - 400px);
	display: flex;
}

.header > div:last-of-type {
	display: flex;
	flex: 0 1 400px;
	text-align: right;
	flex-direction: row;
	justify-content: flex-end;

	div {
		flex: 0 1 auto;
	}
}

.myAccount {
	display: inline-block;

	flex: 0 1 auto;
	font-size: 18px;
	font-weight: 400;

	color: #888;
	padding: 15px 20px 0 0;
	transition: 150ms;

	&:hover {
		color: white;
	}
}

.username {
	display: inline-block;

	flex: 0 1 auto;
	font-size: 18px;
	font-weight: 400;

	color: #a7caff;
	padding: 15px 10px 0 0;
}

.homeButton {
	color: white;
	height: 50px;
	display: inline-block;

	img {
		transition: 150ms;
		margin: -15px 0 0 0;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		height: 64px;

		&:hover {
			filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.2));
			opacity: 1;
		}
	}
}
