@import "../../../../../../styles/colors";

.crossWorldMarkets {
	display: flex;

	& > div {
		flex: 0 1 50%;

		h2 {
			color: $green-3x;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0 0 12px 0;
		}
	}

	& > div:first-of-type {
		padding-right: 10px;
	}

	& > div:last-of-type {
		padding-left: 10px;
	}
}

.tableHeader {
	font-size: 15px;
	font-weight: 600;
	color: $table-color-3x;
	text-shadow: none;
	text-transform: uppercase;
}
